
*{box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'source Sans pro', sans-serif;
   
}

.hero{
    background-image: url('../css_advanced/assets/Object.png');
    width: 1440px;
    height: 1093px;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0 5rem;
}

.header-links{
    display: inline;
    margin-left:5rem;
    padding-left: 0 8%;
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}

li a{
    text-decoration: none;
    color: white;
}

.hero-content{
    text-align: center;
    padding-top: 6rem;
}

.hero-content h1{
    font-size: 115px;
    margin-bottom: 0;
    margin-left: 9%;
}

span{
    display: inline-block;
    justify-content: center;
    margin-left: 8%;
    font-weight: bold;
    font-size: 15px;
}

.register-btn{
    display: block;
    margin: 0 auto;
    background-color: #C271FF;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 1px 1px 4px black;
    padding: 18px 25px;
    font-size: 12px;
    border-radius: 60px;
    cursor: pointer;
    margin-top: 2rem;
    margin-left: 48%;
    
}

.learn-1{
    margin-left: 14%;
    margin-top: 15%;
    color: #C271FF;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    
}

.learn{
    font-size: 30px;
    margin-left: 12px;
    font-weight: 100;
    color: white;
    letter-spacing: 0px;
}

.pros-container{
    
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1009px;
    height: 237px;
    top: 728px;
    left: 500px;
}

.pros-content{
    width: 150px;
    height: auto;
}

 .pros-img{
    width: 150px;
    height: 150px;
 }
.Bruce{
    border-radius: 50%;
}

.pros-content, h3{
    width: 200px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -4px;
}

.pros-info{
    width: 168px;
    height: 48px;
    top: 189px;
    font-weight: lighter;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 4%;
    
}

/*Quote Section*/
.quote_section {
width: 1440px;
height: 392px;
  display: flex;
  align-items: center;  
  justify-content: center; 
  background-color: #C271FF;
  color: white;
  padding: 60px; 
}

.quote-img {
  width: 150px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  margin-left: 50%;  
}

.quote-content {
  display: flex;
  flex-direction: column;  
  width: 700px;        
}

.quote {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 33.6px; 
  width: 660px;
  height: 68px;        
  margin: 0;      
  margin-left: -5%; 
  margin-top: -3%;           
  color: #FFFFFF;
}

.quote-info {
width: 129px;
height: 34px;
top: 90px;
font-weight: 700;
font-size: 18px;
line-height: 33.6px;
letter-spacing: 0px;
margin-left: 7%;
margin: -3%;
        
}

.quote-info-2{
    width: 165px;
    height: 34px;
    top: 124px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 33.6px;
    letter-spacing: 0px;
    font-style: italic;
}


/** Popular Videos**/
.most-popular{
    margin-left: 22%;
    text-align: center;
    margin-top: 7%;;
    font-weight: 100;
    font-size: 32px;
    color: rgb(22, 22, 22);
}

.popular-vid-container{
    display: flex;
    justify-content: space-between;
    width: 1228px;
    height: 450px;
    margin-left: 10%;

  
}

.phillip{
    width: 45px;
    height: 45px;
}

.philname{
    color: #C271FF;
    margin-left: -49%;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    
}

.Phil{
    display: flex;
    justify-content: space-around;
    margin-left: -38%;
}

.videos{
    justify-content: space-evenly;
    
}

.smile{
    width: 52%;
    margin-left: -3%;
    height: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;

}

.smile-text{
    width: 250px;
    height: 48px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
}

.ratins{
    display: flex;
    justify-content: space-between;
}


/**Membership Section**/
.membership-section{
    background-color: #071629;
    width: 1440px;
    height: 502px;
}

.membership-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;

    
}

.membership-title{
    margin-left: 9%;
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    color:#FFFFFF;
    padding-top: 5%;
}

.membership-content{
    margin: 0 5%;
    width: 230px;
    height: 153px;
    color: #ffffff;
    margin-top: 6%;
    line-height: 24px;
    font-size: 15px;
    text-align: center;
}

.btn-2{
    margin-top:2%;
}

/**FAQ**/
.f-a-q{
        margin-left: 15%;
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    color:#000000;
    padding-top: 4%;
}

.frequently-q{
    margin-left: 7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 930px;
    margin: 0 auto;
    height: 707px;
    margin-left: 20%;
}

.how-it-works{
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    padding: 15px;
    width: 450PX;
    height: 242px;
    line-height: 24px;
    padding: 0 10%;
}